<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Détails de l'Auteur</title>
</head>
<body>
    <h1>{{ a.username | upper }}</h1>
    <p>Email : {{ a.email }}</p>
    <p>Nombre de livres : {{ a.nbBooks }}</p>
    
</body>
</html>
